CREATE TABLE IF NOT EXISTS failed_batches <%= if @cluster? do %>ON CLUSTER '{cluster}'<% end %>
(
    `batch` UInt64
)
<%= if @cluster? do %>
ENGINE = ReplicatedMergeTree('/clickhouse/{cluster}/tables/{shard}/plausible_prod/failed_batches', '{replica}')
<% else %>
ENGINE = MergeTree()
<% end %>
ORDER BY (batch)
<%= @table_settings %>
