<div class="w-full max-w-md mx-auto mt-10 pb-16 px-4 dark:text-gray-300">
  <.form :let={f} class="flex flex-col gap-y-8" for={@changeset} action={@form_submit_url}>
    <PlausibleWeb.Components.Billing.Notice.limit_exceeded
      :if={@site_limit_exceeded?}
      current_user={@current_user}
      current_team={@current_team}
      limit={@site_limit}
      resource="sites"
    />

    <.input
      help_text="Just the naked domain or subdomain without 'www', 'https' etc."
      type="text"
      placeholder="example.com"
      field={f[:domain]}
      label="Domain"
      disabled={@site_limit_exceeded?}
      mt?={false}
    />

    <input type="hidden" name={f[:timezone].name} id="tz-input" value="Etc/UTC" />
    <script>
      if (typeof Intl !== "undefined") {
        var detectedTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        if (detectedTimezone) {
          document.getElementById("tz-input").value = detectedTimezone;
        }
      }
    </script>

    <div class="flex justify-end items-center gap-x-2">
      <.button_link theme="ghost" href={@skip_url} mt?={false}>
        {if @flow == PlausibleWeb.Flows.provisioning(), do: "Back to sites", else: "Skip"}
      </.button_link>
      <.button
        disabled={@site_limit_exceeded?}
        type="submit"
        mt?={false}
        class="disabled:cursor-not-allowed"
      >
        Add site
      </.button>
    </div>
  </.form>
</div>
