<Layouts.app
  footer?={false}
  current_user={@current_user}
  current_team={@current_team}
  current_team_role={@current_team_role}
  teams={@teams}
  my_team={@my_team}
  flash={@flash}
>
  <NewSiteForm.new_site_form
    changeset={@changeset}
    form_submit_url={@form_submit_url}
    site_limit_exceeded?={@site_limit_exceeded?}
    site_limit={@site_limit}
    current_user={@current_user}
    current_team={@current_team}
    back_button_text="Back to sites"
    back_button_href={Routes.site_path(@conn, :index)}
  />
</Layouts.app>
