<.settings_tiles>
  <.tile>
    <:title>Site details</:title>
    <:subtitle>Manage your site's domain and reporting timezone.</:subtitle>

    <div class="flex flex-col gap-6">
      <div :if={Plausible.Sites.regular?(@site)} class="flex flex-col gap-6">
        <.settings_row label="Site domain" docs="change-domain-name">
          <span class="text-gray-800 dark:text-gray-200">{@site.domain}</span>
          <.styled_link
            href={Routes.site_path(@conn, :change_domain, @site.domain)}
            aria-label="Change domain"
            class="text-sm"
          >
            Change
          </.styled_link>
        </.settings_row>

        <.settings_divider />

        <.settings_row
          label={if ee?(), do: "Site installation"}
          docs="plausible-script"
        >
          <div
            :if={ee?() and @site.onboarding_status == :new_site}
            class="flex items-center gap-1.5 text-gray-800 dark:text-gray-200"
          >
            <span class="size-2 rounded-full bg-yellow-500"></span> Pending
          </div>
          <div
            :if={ee?() and @site.onboarding_status != :new_site}
            class="flex items-center gap-1.5 text-gray-800 dark:text-gray-200"
          >
            <span class="size-2 rounded-full bg-green-500"></span> Completed
          </div>
          <.styled_link
            href={
              Routes.site_path(@conn, :installation, @site.domain,
                flow: PlausibleWeb.Flows.review()
              )
            }
            aria-label="View setup"
            class="text-sm"
          >
            Review
          </.styled_link>
        </.settings_row>

        <.settings_divider />
      </div>

      <.form :let={f} for={@changeset} action={"/#{URI.encode_www_form(@site.domain)}/settings"}>
        <.settings_row
          label="Reporting timezone"
          for={f[:timezone].id}
          docs="general"
          actions_class="gap-3"
          x-data={"{ changed: false, saved: '#{@site.timezone}' }"}
          x-on:change="changed = $event.target.value !== saved"
        >
          <.input
            field={f[:timezone]}
            type="select"
            options={Plausible.Timezones.options()}
            width="w-auto max-w-72"
            mt?={false}
          />
          <.button theme="secondary" type="submit" mt?={false} disabled x-bind:disabled="!changed">
            Save
          </.button>
        </.settings_row>
      </.form>
    </div>
  </.tile>

  <div :if={Plausible.Sites.regular?(@site)}>
    {live_render(@conn, PlausibleWeb.Live.TrackingSettings, session: %{"domain" => @site.domain})}
  </div>
</.settings_tiles>
