<.settings_tiles>
  <div>
    {live_render(@conn, PlausibleWeb.Live.PropsSettings,
      id: "props-form",
      session: %{"site_id" => @site.id, "domain" => @site.domain}
    )}
  </div>
</.settings_tiles>
