<.tile docs="looker-studio">
  <:title>
    Google Looker Studio Connector
  </:title>
  <:subtitle>
    <p>
      You can use our Looker Studio connector to build custom reports with your Plausible data.
    </p>
  </:subtitle>
</.tile>
