<.auth_container>
  <div class="flex flex-col gap-y-4 text-center">
    <h1 class="text-xl font-bold text-gray-900 dark:text-gray-100">
      Authorization error
    </h1>
    <p class="text-sm text-gray-600 dark:text-gray-400">
      {@message}
    </p>
  </div>
</.auth_container>
