<div class="flex flex-col">
      
      <footer class="bg-[#fafbfb] dark:bg-[#09080a] px-8 py-6 md:px-16 lg:px-24 border-t border-gray-200 dark:border-gray-800">
        <div class="max-w-7xl mx-auto flex justify-center items-center">
          <div class="text-gray-600 dark:text-gray-400 text-sm">© 2025 stateofweb</div>
        </div>
      </footer>
    </div>
