<div class="flex flex-col">
      
      <footer class="bg-[#ffffff] px-8 py-6 md:px-16 lg:px-24 border-t border-gray-100">
        <div class="max-w-7xl mx-auto flex justify-between start">
          <div class="text-[#070707] text-sm">stateofweb 2025</div>
        </div>
      </footer>
    </div>
