<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= PlausibleWeb.Router.Helpers.static_path(@conn, "/images/icon/32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= PlausibleWeb.Router.Helpers.static_path(@conn, "/images/icon/16x16.png") %>">
    <title><%= assigns[:title] || "Plausible · Web analytics" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <%= render("_tracking.html", assigns) %>
  <body class="flex flex-col h-full bg-grey-lightest">
    <div class="<%= if !@conn.assigns[:landing_nav] do "border-b-2 border-grey-lighter bg-white" end %>">
      <nav class="mx-auto container flex items-center justify-between flex-wrap py-6">
        <div class="flex items-center flex-no-shrink">
          <%= img_tag(PlausibleWeb.Router.Helpers.static_path(@conn, "/images/icon/48x48.png"), style: "height: 28px; margin-right: 6px;") %>
          <a href="/" class="logo-text">Plausible</a>
        </div>
        <%= cond do %>
          <% @conn.assigns[:current_user] -> %>

          <span class="relative font-medium text-grey-darker">
            <div data-dropdown-trigger class="flex items-center hover:bg-grey-lighter rounded p-2 cursor-pointer">
              <span class="mr-2"><%= @conn.assigns[:current_user].name || @conn.assigns[:current_user].email %></span>
              <svg style="height: 18px; transform: translateY(2px); fill: #606f7b;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 640" enable-background="new 0 0 512 512" xml:space="preserve"><g><circle cx="256" cy="52.8" r="50.8"/><circle cx="256" cy="256" r="50.8"/><circle cx="256" cy="459.2" r="50.8"/></g></svg>
            </div>

            <div data-dropdown style="top: 42px; right: 0px; width: 185px;" class="dropdown-content hidden absolute pin-r bg-white border border-grey-light rounded shadow-md">
              <%= link("My sites", to: "/", class: "block py-3 px-2 border-b border-grey-light hover:bg-grey-lighter") %>
              <%= link("Settings", to: "/settings", class: "block py-3 px-2 border-b border-grey-light hover:bg-grey-lighter") %>
              <%= link("Log out", to: "/logout", method: :post, class: "block py-3 px-2 hover:bg-grey-lighter") %>
            </div>
          </span>

            <% true -> %>
            <ul class="list-reset flex">
              <li class="mr-6">
               <%= link("Login", to: "/login", class: "text-indigo font-bold text-sm py-2", style: "line-height: 33px;") %>
              </li>
              <li class="mr-6">
               <%= link("Sign up free", to: "/register", class: "button button-outline py-2 px-4 text-sm") %>
              </li>
            </ul>
        <% end %>
      </nav>
    </div>

    <%= if get_flash(@conn, :success) do %>
      <div id="flash" class="text-center bg-green text-green-lightest text-sm font-bold px-4 absolute w-full transition overflow-hidden" style="top: 91px" role="alert">
        <p class="py-3 "><%= get_flash(@conn, :success) %></p>
      </div>
    <% end %>

    <main class="flex-1">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <%= render("_footer.html", assigns) %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
