<p><%= PlausibleWeb.EmailView.greet_recipient(assigns) %></p>

<%= @inner_content %>

<p :if={Plausible.ee?()}>Regards,<br /> The Plausible Team 💌</p>

<p>--</p>

<p>
  <a href={plausible_url()}><%= plausible_url() %></a>
</p>

<%= if ee?() do %>
  {{{ pm:unsubscribe }}}
<% end %>
