<%= PlausibleWeb.EmailView.greet_recipient(assigns) %>
<br /><br />

<%= @inner_content %>
<br /><br />

<%= if full_build?() do %>Regards,<br />
The Plausible Team 💌
<br /><br /><% end %>

--
<br /><br />
<%= link(plausible_url(), to: plausible_url()) %><br />

<%= if full_build?() do %>{{{ pm:unsubscribe }}}<% end %>
