<!DOCTYPE html>
<html lang="en" class="h-full plausible">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <PlausibleWeb.Components.Layout.favicon conn={@conn} />
    <title>Stateofweb · Web analytics</title>
    <link rel="stylesheet" href={Routes.static_path(PlausibleWeb.Endpoint, "/css/app.css")} />
  </head>
  <body class="flex flex-col h-full bg-gray-100 dark:bg-gray-900">
    <div class="w-full my-8 text-center">
      
    </div>

    {@inner_content}

    <script type="text/javascript" src={Routes.static_path(PlausibleWeb.Endpoint, "/js/app.js")}>
    </script>
  </body>
</html>
