<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A lightweight, non-intrusive alternative to Google Analytics."
    />
    <meta name="robots" content={@conn.private.robots} />
    <%= if assigns[:connect_live_socket] do %>
      <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
      <meta name="websocket-url" content={websocket_url()} />
    <% end %>
    <PlausibleWeb.Components.Layout.favicon conn={@conn} />
    <title><%= assigns[:title] || "Plausible · Web analytics" %></title>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")} />
    <%= render("_tracking.html", assigns) %>
  </head>
  <body class="flex flex-col h-full bg-gray-100 dark:bg-gray-900">
    <nav class="relative z-20 py-8">
      <div class="container print:max-w-full">
        <nav class="relative flex items-center justify-between sm:h-10 md:justify-center">
          <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
            <a href={home_dest(@conn)}>
              <%= img_tag(
                PlausibleWeb.Router.Helpers.static_path(
                  @conn,
                  logo_path("logo_dark.svg")
                ),
                class: "w-44 -mt-2 hidden dark:inline",
                alt: "Plausible logo",
                loading: "lazy"
              ) %>
              <%= img_tag(
                PlausibleWeb.Router.Helpers.static_path(
                  @conn,
                  logo_path("logo_light.svg")
                ),
                class: "w-44 -mt-2 inline dark:hidden",
                alt: "Plausible logo",
                loading: "lazy"
              ) %>
            </a>
          </div>
        </nav>
      </div>
    </nav>

    <%= if assigns[:flash] do %>
      <%= render("_flash.html", assigns) %>
    <% end %>
    <%= @inner_content %>

    <%= if ee?() do %>
      <p class="text-center text-gray-500 text-xs py-8">
        © <%= DateTime.utc_now().year %> Plausible Analytics. All rights reserved.
      </p>
    <% end %>

    <PlausibleWeb.Components.Layout.theme_script current_user={assigns[:current_user]} />

    <script type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}>
    </script>
  </body>
</html>
