<div class="flex-1 flex flex-col">
  <div class="flex-1">
    <div
      :if={assigns[:heading]}
      class="w-full max-w-md mx-auto mt-10 sm:mt-16 px-4 flex flex-col gap-y-2 dark:text-gray-300"
    >
      <h1 class="text-lg sm:text-xl font-semibold">{@heading}</h1>
      <p
        :if={assigns[:subtitle]}
        class="text-base text-gray-500 dark:text-gray-400 text-pretty"
      >
        {@subtitle}
      </p>
    </div>
    {@inner_content}
  </div>
  <div
    :if={
      assigns[:flow] == PlausibleWeb.Flows.register() and assigns[:current_step] not in [nil, ""]
    }
    class="pb-20 flex justify-center"
  >
    <PlausibleWeb.Components.FlowProgress.render
      flow={@flow}
      current_step={@current_step}
    />
  </div>
</div>
