<%= render_layout "app.html", assigns do %>
  <% options = account_settings_sidebar(@conn) %>
  <div class="container pt-6">
    <.styled_link class="text-indigo-600 font-bold text-sm" href="/sites">
      ← Back to Sites
    </.styled_link>
    <div class="pb-5 border-b border-gray-200 dark:border-gray-500">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 dark:text-gray-100 sm:text-3xl sm:leading-9 sm:truncate">
        Settings
      </h2>
    </div>
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-5 lg:mt-4">
      <div class="lg:col-span-3">
        <.mobile_nav_dropdown
          name="settings"
          options={options}
          selected_fn={&is_current_tab(@conn, &1)}
          conn={@conn}
          href_base="/settings/"
        />

        <div class="hidden lg:block py-4 top-0 sticky">
          <h3 class="uppercase text-sm text-indigo-600 font-semibold">Account Einstellungen</h3>
          <p class="text-xs dark:text-gray-400 truncate">{@current_user.email}</p>
          <Layout.settings_sidebar
            selected_fn={&is_current_tab(@conn, &1)}
            options={options["Account Settings"]}
          />

          <div :if={Plausible.Teams.setup?(@current_team)}>
            <h3 class="uppercase text-sm text-indigo-600 font-semibold mt-6">Team Settings</h3>
            <p class="text-xs dark:text-gray-400 truncate mb-4">
              {Plausible.Teams.name(@current_team)}
            </p>

            <Layout.settings_sidebar
              selected_fn={&is_current_tab(@conn, &1)}
              options={options["Team Settings"]}
            />
          </div>
        </div>
      </div>

      <div class="space-y-6 lg:col-span-9 lg:mt-4">
        {@inner_content}
      </div>
    </div>
  </div>
<% end %>
