<%= render_layout "app.html", assigns do %>
  <div class="container pt-6">
    <%= link("← Back to stats", to: "/#{URI.encode_www_form(@site.domain)}", class: "text-sm text-indigo-600 font-bold") %>
    <div class="pb-5 border-b border-gray-200 dark:border-gray-500">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 dark:text-gray-100 sm:text-3xl sm:leading-9 sm:truncate">
        Settings for <%= @site.domain %>
      </h2>
    </div>
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-5 lg:mt-4">
      <div class="py-4 g:py-0 lg:col-span-3">
        <%= form_for @conn, "/sites/#{URI.encode_www_form(@site.domain)}/monthly-report/recipients", [class: "lg:hidden"], fn f -> %>
          <%= select f, :tab, settings_tabs(@conn), class: "dark:bg-gray-800 mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 dark:border-gray-500 outline-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md dark:text-gray-100", onchange: "location.href = location.href.replace(/[^\/\/]*$/, event.target.value)", selected: List.last(@conn.path_info)  %>
        <% end %>
        <div class="hidden lg:block">
          <%= for [key: key, value: val] <- settings_tabs(@conn) do %>
            <%= render("_settings_tab.html", this_tab: val, text: key, site: @site, conn: @conn) %>
          <% end %>
        </div>
      </div>

      <div class="space-y-6 lg:col-span-9 lg:mt-4">
        <%= @inner_content %>
      </div>
    </div>
  </div>
<% end %>
