<%= render_layout "app.html", assigns do %>
  <div class="container pt-6">
    <%= link("← Back to Stats",
      to: "/#{URI.encode_www_form(@site.domain)}",
      class: "text-indigo-600 font-bold text-sm"
    ) %>
    <div class="pb-5 border-b border-gray-200 dark:border-gray-500">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 dark:text-gray-100 sm:text-3xl sm:leading-9 sm:truncate">
        Settings for <%= @site.domain %>
      </h2>
    </div>
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-5 lg:mt-4">
      <div class="py-4 g:py-0 lg:col-span-3">
        <%= form_for @conn, "/sites/#{URI.encode_www_form(@site.domain)}", [class: "lg:hidden"], fn f -> %>
          <% options = flat_settings_options(@conn) %>
          <%= select(f, :tab, options,
            class:
              "dark:bg-gray-800 mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 dark:border-gray-500 outline-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 rounded-md dark:text-gray-100",
            onchange:
              "location.href = '/" <>
                URI.encode_www_form(@site.domain) <> "/settings/' + event.target.value",
            selected:
              Enum.find_value(options, &(is_current_tab(@conn, elem(&1, 1)) && elem(&1, 1)))
          ) %>
        <% end %>
        <div class="hidden lg:block">
          <%= for %{key: key, value: value, icon: icon} <- settings_tabs(@conn) do %>
            <%= if is_binary(value) do %>
              <%= render("_site_settings_tab.html",
                icon: icon,
                this_tab: value,
                text: key,
                site: @site,
                conn: @conn,
                submenu?: false
              ) %>
            <% else %>
              <%= render("_site_settings_tab.html",
                icon: icon,
                this_tab: nil,
                text: key,
                site: @site,
                conn: @conn,
                submenu?: false
              ) %>
              <div class="ml-6">
                <%= for %{key: key, value: val} <- value do %>
                  <%= render("_site_settings_tab.html",
                    icon: nil,
                    this_tab: val,
                    text: key,
                    site: @site,
                    conn: @conn,
                    submenu?: true
                  ) %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="space-y-6 lg:col-span-9 lg:mt-4">
        <%= @inner_content %>
      </div>
    </div>
  </div>
<% end %>
