ALTER TABLE <%= @table %>
<%= if @cluster? do %>ON CLUSTER '{cluster}'<% end %>
ADD COLUMN IF NOT EXISTS <%= @column_name %> String ALIAS <%= @alias_expr %>,
MODIFY COLUMN <%= @column_name %> String ALIAS <%= @alias_expr %>
