@tailwind preflight;
@tailwind components;

.button {
  @apply bg-red text-white font-bold tracking-wide py-3 px-5 rounded;
}

.button:hover {
  @apply shadow;
}

.button:focus {
  @apply outline-none;
}

html {
  @apply font-sans;
}

@tailwind utilities;

.logo-text {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  color: #89B6A5;
}

.landing-bg {
  background-image: linear-gradient(160deg, #F5F6F7 41.6%, white calc(41.6% + 1px))
}
