/* stylelint-disable selector-class-pattern */
.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal[aria-hidden='false'] .modal__overlay {
  animation: mm-fade-in 0.2s ease-in;
}

.modal[aria-hidden='true'] .modal__overlay {
  animation: mm-fade-out 0.2s ease-in;
}

.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.modal__overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 60%);
  z-index: 99;
  overflow: auto;
}

@keyframes mm-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mm-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
