.filter-list-text:hover ~ .filter-list-edit {
  display: flex;
}

.filter-list-text:hover ~ .filter-list-remove {
  display: none;
}

.filter-select__control:focus-within {
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgb(99, 102, 241) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px; /* indigo-500 */
}

.filter-select__value-container {
	padding-left: 1rem !important;
}

.filter-select__control {
  @apply dark:bg-gray-900 border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 pr-8;
	border-radius: 0.375rem !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.35rem 1.35rem;
}

.filter-select__control:hover {
  @apply cursor-pointer;
  border-color: rgb(156, 163, 175) !important; /* gray-400 */
}

.filter-select__indicator-separator {
  @apply hidden;
}

.filter-select__dropdown-indicator {
  display: none !important;
}

.filter-select__input {
  @apply w-full text-base sm:text-sm;
	margin: 0 !important;
}

.filter-select__input input {
  width: 100% !important;
  box-shadow: none !important;
}

.dark .filter-select__input input {
  color: rgb(209, 213, 219) !important; /* gray-300 */
}

.filter-select__value-container > :not(.filter-select__single-value) {
  @apply w-full;
	padding-top: 0 !important;
}

.filter-select__loading-indicator {
  color: rgb(79, 70, 229) !important; /* indigo-600 */
}

.filter-select__loading-indicator > span {
  height: 1.5em;
  width: 1.5em;
}

.filter-select__single-value {
  @apply dark:text-gray-400 text-base sm:text-sm;
}

.filter-select__menu-list {
  @apply dark:bg-gray-900;
}

.filter-select__option {
  @apply dark:text-gray-300;
	font-size: 1rem !important;
  line-height: 1.5rem !important;
  cursor: pointer !important;
}

@media (min-width: 640px) {
	.filter-select__option {
		font-size: 0.875rem !important;
    line-height: 1.25rem !important;
	}
}

.filter-select__option--is-focused {
  background-color: rgb(99, 102, 241) !important; /* indigo-500 */
	color: white !important;
}

.dark .filter-select__option--is-focused {
  background-color: rgb(79, 70, 229) !important; /* indigo-600 */
}

