/* This is your custom storybook stylesheet. */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*
 * Put your component styling within the Tailwind utilities layer.
 * See the https://hexdocs.pm/phoenix_storybook/sandboxing.html guide for more info.
 */

@layer utilities {
  * {
    font-family: system-ui;
  }
}
