<div class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-16">
  <h2 class="text-xl font-black">Message submitted!</h2>
  <div class="my-4">Thank you for getting in touch.</div>
</div>
