<Layouts.auth heading={@heading} subtitle={@subtitle} flash={@flash}>
  <.auth_container class="flex gap-3 justify-center">
    <.button_link
      :if={Plausible.Auth.check_registration_enabled() == :ok}
      href="/register"
      mt?={false}
    >
      Start free trial
    </.button_link>
    <.button_link href="/login" theme="secondary" mt?={false}>
      Sign in
    </.button_link>
  </.auth_container>
</Layouts.auth>
