<Layouts.auth heading="Authorization error" subtitle={@message} flash={@flash}>
  <.auth_container class="flex justify-center">
    <.button_link href="/sites" theme="secondary" mt?={false}>
      Back to your sites
    </.button_link>
  </.auth_container>
</Layouts.auth>
