<Layouts.auth heading={@heading} subtitle={"Request a new one to reset your password."}>
  <.auth_container class="flex justify-center">
    <.button_link href="/password/request-reset" mt?={false}>
      Send new reset link
    </.button_link>
  </.auth_container>
</Layouts.auth>
