<Layouts.auth
  heading="Reset your password"
  subtitle="Choose a new password for your account"
>
  <.auth_container>
    {live_render(@conn, PlausibleWeb.Live.ResetPasswordForm,
      container: {:div, class: "contents"},
      session: %{"email" => @email}
    )}
  </.auth_container>
</Layouts.auth>
