<div class="w-full max-w-md mx-auto mt-10 pb-16 px-4">
  {live_render(@conn, PlausibleWeb.Live.ResetPasswordForm,
    container: {:div, class: "contents"},
    session: %{"email" => @email}
  )}
</div>
