<div class="container text-center mt-24">
  <h1 class="text-5xl font-black dark:text-gray-100"><%= @status %></h1>
  <div class="my-4 text-xl dark:text-gray-100"><%= @message %></div>
  <.button_link href={PlausibleWeb.LayoutView.home_dest(@conn)}>Go to homepage</.button_link>
</div>
