<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:title] || "Neatmetrics · Web analytics" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
  </head>
  <body>
    <div class="border-b border-grey-light px-12">
      <nav class="flex items-center justify-between flex-wrap py-4 px-8">
        <div class="flex items-center flex-no-shrink text-white">
          <%= img_tag(NeatmetricsWeb.Router.Helpers.static_path(@conn, "/images/logo_48w.png"), style: "height: 28px; margin-right: 6px;") %>
          <a href="/" class="logo-text text-4xl no-underline">neatmetrics</a>
        </div>
        <%= cond do %>
          <% Plug.Conn.get_session(@conn, :current_user_email) -> %>
            <div class="relative group">
              <div class="flex items-center cursor-pointer text-grey-darkest font-medium text-lg border border-white border-b-0  group-hover:border-grey-light rounded-t py-3 px-3">
                gigride.live
                <svg class="fill-current h-4 w-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
              <div class="items-center absolute border border-t-0 rounded-b bg-white invisible group-hover:visible w-full">
               <a href="/" class="px-3 py-3 block hover:bg-grey-lighter no-underline">Settings</a>
               <a href="/" class="px-3 py-3 block hover:bg-grey-lighter no-underline">Websites</a>
               <hr class="border-t border-grey-light m-0">
               <%= button("Logout", to: "/logout", method: :post, class: "px-3 py-3 w-full text-left block hover:bg-grey-lighter") %>
              </div>
            </div>
          <% true -> %>
            <div><a class="no-underline hover:underline" href="/login">Log in</a></div>
        <% end %>
      </nav>
    </div>
    <main class="blue-bg">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
