<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= NeatmetricsWeb.Router.Helpers.static_path(@conn, "/images/icon/32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= NeatmetricsWeb.Router.Helpers.static_path(@conn, "/images/icon/16x16.png") %>">
    <title><%= assigns[:title] || "Plausible · Web analytics" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
  </head>
  <body class="flex flex-col h-full bg-grey-lightest">
    <div class="<%= if !@conn.assigns[:landing_nav] do "border-b border-grey-light bg-white" end %>">
      <nav class="mx-auto container flex items-center justify-between flex-wrap py-6">
        <div class="flex items-center flex-no-shrink text-white">
          <%= img_tag(NeatmetricsWeb.Router.Helpers.static_path(@conn, "/images/icon/48x48.png"), style: "height: 28px; margin-right: 6px;") %>
          <a href="/" class="logo-text">Plausible</a>
        </div>
        <%= cond do %>
          <% Plug.Conn.get_session(@conn, :current_user_email) -> %>
            <ul class="list-reset flex">
              <li class="mr-6">
               <%= link("My sites", to: "/") %>
              </li>
              <li class="mr-6">
               <%= button("Logout", to: "/logout", method: :post) %>
              </li>
            </ul>
          <% true -> %>
            <ul class="list-reset flex">
              <li class="mr-6">
               <%= link("Login", to: "/login") %>
              </li>
              <li class="mr-6">
               <%= link("Sign up free", to: "/onboarding") %>
              </li>
            </ul>
        <% end %>
      </nav>
    </div>
    <main class="flex-1">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class='w-full text-center text-grey text-sm p-8 pin-b pt-20'>
      <p>
      Made with ❤️by <a href="https://twitter.com/ukutaht" class="text-grey-darker">@ukutaht</a> in London, UK •
      ©2019 Acme Corp. All rights reserved.
      </p>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
