<.settings_tiles>
  <.tile docs="sso">
    <:title>
      <a id="sso-config">Single Sign-On</a>
    </:title>
    <:subtitle>
      Configure and manage Single Sign-On for your team
    </:subtitle>

    <p class="text-sm">
      Single Sign-On (SSO) enables team members to sign in without having to register an account. For more details,
      <.styled_link href="https://plausible.io/docs/sso">see our documentation</.styled_link>.
    </p>
  </.tile>
</.settings_tiles>
