<.focus_box>
  <:title>
    Single Sign-On enforcement
  </:title>

  <p class="text-sm">
    To access this team, you must first
    <.styled_link href="/logout">log out</.styled_link>
    and log in as SSO user.
  </p>
</.focus_box>
