name: Check spelling

on:
  pull_request:
  push:
    branches: [ master ]
  merge_group:

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: codespell-project/actions-codespell@v2
      with:
        check_filenames: true
        ignore_words_file: .codespellignore
        path: lib test extra 
