name: NPM CI

on:
  push:
    branches: [master, stable]
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Read .tool-versions
      uses: marocchino/tool-versions-action@v1
      id: versions
    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: ${{steps.versions.outputs.nodejs}}
    - run: npm install --prefix ./assets
    - run: npm install --prefix ./tracker
    - run: npm run generate-types --prefix ./assets && git diff --exit-code -- ./assets/js/types
    - run: npm run typecheck --prefix ./assets
    - run: npm run lint --prefix ./assets
    - run: npm run check-format --prefix ./assets
    - run: npm run test --prefix ./assets
    - run: npm run deploy --prefix ./tracker
    - run: npm run report-sizes --prefix ./tracker
