Hi <%= @name %>,
<br /><br />
Thank you for signing up to Plausible. <a href="<%= @link %>">Click here</a> to activate your account.
<br /><br />
This link will expire in 24 hours. If you don't use it by then, you can request another activation link.
