Sie hatten früher ein aktives Konto bei {Plausible.product_name()}, einer einfachen, schlanken, quelloffenen und datenschutzfreundlichen Google Analytics Alternative.
<br /><br />
Wir haben bemerkt, dass Sie uns immer noch Statistiken senden und möchten Sie darüber informieren, dass wir ab {@time} keine Statistiken mehr von Ihren Websites akzeptieren werden. Wir sind ein unabhängiger, selbstfinanzierter Service und verkaufen Ihre Daten nicht. Diese Maßnahme reduziert unsere Serverkosten und hilft uns dabei, nachhaltig zu bleiben.
<br /><br /> Falls Sie weiterhin Ihre Website-Statistiken auf datenschutzfreundliche Weise erfassen möchten, 
<a href={plausible_url() <> "?__team=#{@team.identifier}"}>loggen Sie sich bitte in Ihr Plausible-Konto ein</a> und starten Sie ein Abonnement.
<br /><br />
Haben Sie Fragen oder benötigen Sie Hilfe? Antworten Sie einfach auf diese E-Mail und wir helfen Ihnen gerne weiter.
