Plausible verfolgt die Statistiken Ihrer Website, ohne die Benutzererfahrung und die Privatsphäre Ihrer Besucher zu beeinträchtigen.
<br /><br /> So holen Sie noch mehr aus Ihrer Plausible-Erfahrung heraus: <br /><br /> *
<a href="https://plausible.io/docs/custom-event-goals">Richten Sie benutzerdefinierte Events</a> und
<a href="https://plausible.io/docs/pageview-goals">Seitenaufruf-Ziele</a> ein, um Aktionen zu verfolgen, die Ihre Besucher ausführen sollen<br />
* Betreiben Sie einen Online-Shop? Weisen Sie benutzerdefinierten Events Geldwerte zu, um
<a href="https://plausible.io/docs/ecommerce-revenue-tracking">Umsatzzuordnung</a> zu verfolgen
<br /> * Verfolgen Sie die Reise von einer Landingpage zur Conversion mit
<a href="https://plausible.io/docs/funnel-analysis">Trichteranalyse</a>
<br /> *
<a href="https://plausible.io/docs/manual-link-tagging">
  Taggen Sie Ihre Social Media-, E-Mail- und bezahlten Links
</a>, um zu sehen, welche Kampagnen für die meisten Conversions verantwortlich sind<br />
* <a href="https://plausible.io/docs/custom-props/introduction">Senden Sie benutzerdefinierte Eigenschaften</a>,
um Daten zu sammeln, die wir nicht automatisch verfolgen <br /> * Erkunden Sie unsere
<a href="https://plausible.io/docs/stats-api">Statistik-API</a>, um Ihre Statistiken abzurufen, und unsere
<a href="https://plausible.io/docs/sites-api">Websites-API</a>, um Websites programmatisch zu erstellen und zu verwalten<br />
<br /><br />
<a href={plausible_url()}>Betrachten Sie Ihr Plausible-Dashboard jetzt</a>
für die wertvollsten Traffic-Einblicke auf einen Blick. <br /><br />
Antworten Sie gerne auf diese E-Mail, wenn Sie Fragen haben oder Unterstützung benötigen.
