It’s been a week since you started using Plausible.<br /><br />
We built Plausible because web analytics became too complex and too invasive.<br /><br />
We believe analytics should be simple to understand, fast to load and respectful of your visitors.<br /><br />
No cookies. No personal data. No surveillance. Just clear insights about how your website is performing.<br /><br />
<a href={plausible_url()}>Open your dashboard</a>
