You’ve created your Plausible account but haven’t added a site yet.<br /><br />
Adding your first site only takes a minute and gets you from signup to seeing real traffic.<br /><br />
<a href={"#{plausible_url()}/sites/new"}>Add your first site</a><br /><br />
If you need help getting started, our documentation walks you through the setup step by step:<br />
<a href="https://plausible.io/docs">https://plausible.io/docs</a>
