You've activated your <%= if Plausible.ee?() do %>free 30-day trial of <% end %>Plausible, a simple and privacy-friendly website analytics tool.
<br /><br />
<%= link("Click here", to: "#{plausible_url()}/sites/new") %> to add your website URL, your timezone and install our one-line JavaScript snippet to start collecting visitor statistics.
<%= if Plausible.ee?() do %><br /><br />Do reply back to this email if you have any questions or need some guidance.<% end %>
