Wir haben {@current_visitors} Besucher auf
<a href={"https://" <> @site.domain}><%= @site.domain %></a> in den letzten 12 Stunden aufgezeichnet.
<%= if @dashboard_link do %>
  <br /><br /> Dashboard anzeigen: <a href={@dashboard_link}>{@dashboard_link}</a>
  <br /><br /> Sieht etwas seltsam aus? Bitte
  <a href={@installation_link}>überprüfen Sie Ihre Installation</a>,
  um zu verifizieren, dass Plausible korrekt integriert wurde.
<% end %>
