We've recorded <%= @current_visitors %> visitors on <%= link(@site.domain, to: "https://" <> @site.domain) %> in the last 12 hours. 

<%= if @dashboard_link do %>
<br /><br />
View dashboard: <%= link(@dashboard_link, to: @dashboard_link) %>
<br /><br />
Something looks off? Please use our integration testing tool to verify that Plausible has been integrated correctly: 
<%= link(@settings_link, to: @settings_link) %>
<% end %>
