<p>
  We've recorded <%= @current_visitors %> visitors on
  <a href={"https://" <> @site.domain}><%= @site.domain %></a>
  in the last 12 hours.
</p>

<%= if @dashboard_link do %>
  <p>View dashboard: <a href={@dashboard_link}><%= @dashboard_link %></a></p>
  <p>
    Something looks off? Please <a href={@installation_link}>review your installation</a>
    to verify that Plausible has been integrated correctly.
  </p>
<% end %>
