Automated notice about an enterprise account that has gone over their limits. <br /><br />
Team: {@team.name} ({@team.identifier})<br />
Customer email(s): {Enum.join(@recipient_emails, ", ")}<br />
<% cs_url = customer_support_team_url(@team) %>
<%= if cs_url do %>
  <a href={cs_url}>View in Customer Support</a><br />
<% end %>
<br />
<%= if @pageview_over do %>
  <strong>Pageview limit exceeded.</strong><br />
<% end %>
Last billing cycle: {PlausibleWeb.TextHelpers.format_date_range(
  @pageview_usage.last_cycle.date_range
)}<br />
Last cycle pageview usage: {PlausibleWeb.AuthView.delimit_integer(
  @pageview_usage.last_cycle.total
)} / {format_pageview_limit(@pageview_limit)} billable pageviews<br />
Penultimate billing cycle: {PlausibleWeb.TextHelpers.format_date_range(
  @pageview_usage.penultimate_cycle.date_range
)}<br />
Penultimate cycle pageview usage: {PlausibleWeb.AuthView.delimit_integer(
  @pageview_usage.penultimate_cycle.total
)} / {format_pageview_limit(@pageview_limit)} billable pageviews<br />
<br />
<%= if @site_over do %>
  <strong>Site limit exceeded.</strong><br />
<% end %>
Site usage: {@site_usage} / {@site_allowance} allowed sites<br />
<br />
A manual lock grace period has been started for this account.
