<h1>Error report</h1>
<p>
  Reported by: {@reported_by}
  <br /> Sentry trace: <a href={sentry_link(@trace_id)}>{@trace_id}</a>
  <br />
</p>
<h2>User feedback:</h2>
<pre>
<%= @feedback %>
</pre>
<br />
