<h1>Fehlerbericht</h1>
<p>
  Gemeldet von: {@reported_by}
  <br /> Sentry-Verfolgung: <a href={sentry_link(@trace_id)}>{@trace_id}</a>
  <br />
</p>
<h2>Benutzer-Feedback:</h2>
<pre>
<%= @feedback %>
</pre>
<br />
