{@inviter.email} hat Sie zum "{@team.name}" Team auf {Plausible.product_name()} eingeladen.
<a href={Routes.site_url(PlausibleWeb.Endpoint, :index)}>Klicken Sie hier</a>, um die Einladung anzuzeigen und zu beantworten. Die Einladung
läuft 48 Stunden nach dem Versand dieser E-Mail ab.
