Ihr Stateofweb-Analytics-Export für {@site.domain} ist auf einen Fehler gestoßen und war nicht erfolgreich.
Entschuldigung für die Unannehmlichkeiten, die dies verursacht haben könnte. <br /><br /> Bitte versuchen Sie den Export Ihrer Daten erneut.
<%= if ee?() do %>
  Sollte das Problem bestehen bleiben, antworten Sie bitte auf diese E-Mail, damit wir helfen können. Danke!
<% end %>
