Your {Plausible.product_name()} export for {@site.domain} is now ready for download.
Please click <a href={@download_url}>here</a>
to start the download process.
<%= if @expires_in do %>
  Note that this link will expire {@expires_in}.
<% end %>
