Ihr {Plausible.product_name()}-Export für {@site.domain} ist jetzt zum Download bereit.
Bitte klicken Sie <a href={@download_url}>hier</a>,
um den Download-Prozess zu starten.
<%= if @expires_in do %>
  Beachten Sie, dass dieser Link {@expires_in} abläuft.
<% end %>
