{@invitee_email} hat Ihre Einladung zu {@site.domain} angenommen.
<a href={Routes.site_url(PlausibleWeb.Endpoint, :settings_general, @site.domain) <> "?__team=#{@team.identifier}"}>Klicken Sie hier</a>, um die Website-Einstellungen anzuzeigen.
