{@guest_invitation.team_invitation.email} hat Ihre Einladung zu {@guest_invitation.site.domain} abgelehnt.
<a href={Routes.site_url(PlausibleWeb.Endpoint, :settings_general, @guest_invitation.site.domain) <> "?__team=#{@team.identifier}"}>Klicken Sie hier</a>, um die Website-Einstellungen anzuzeigen.
