{@inviter.email} has promoted you to a team member in the "{@team.name}" team on {Plausible.product_name()}.
<a href={url(~p"/sites?#{[__team: @team.identifier]}")}>
  Click here
</a>
to view sites managed by the team.
