{@inviter.email} has promoted you to a team member in the "{@team.name}" team on {Plausible.product_name()}.
<a href={PlausibleWeb.Router.Helpers.site_url(PlausibleWeb.Endpoint, :index) <> "?__team=#{@team.identifier}"}>Click here</a> to view sites managed by the team.
