{@inviter.email} hat Sie zu einem Teammitglied im Team "{@team.name}" auf {Plausible.product_name()} befördert.
<a href={PlausibleWeb.Router.Helpers.site_url(PlausibleWeb.Endpoint, :index) <> "?__team=#{@team.identifier}"}>Klicken Sie hier</a>, um die vom Team verwalteten Websites anzuzeigen.
