{@guest_invitation.team_invitation.email} has rejected your invitation to {@guest_invitation.site.domain}.
<a href={url(~p"/#{@guest_invitation.site.domain}/settings/general") <> "?__team=#{@team.identifier}"}>
  Click here
</a>
to view site settings.
