Hey <%= user_salutation(@user) %>,
<br /><br />
I saw that you signed up for Plausible but the setup isn't working completely. Is there anything I can do to help?
<br /><br />
If you have any questions let me know.
<br /><br />
Thanks,<br />
Uku Taht<br />
Founder, Plausible Insights
<br /><br />
--
<br /><br />
https://plausible.io
