<%= @invitee_email %> has accepted your invitation to <%= @site.domain %>.
<%= link("Click here", to: Routes.site_url(PlausibleWeb.Endpoint, :settings_general, @site.domain)) %> to view site settings.
