{@inviter.email} hat Sie eingeladen, dem "{@team.name}" Team auf Stateofweb Analytics beizutreten.
<a href={
  Routes.auth_url(
    PlausibleWeb.Endpoint,
    :register_from_invitation_form,
    @invitation_id
  )
}>Klicken Sie hier</a>, um Ihr Konto zu erstellen. Der Link ist 48 Stunden nach dem Versand dieser E-Mail gültig.
<br /><br />
