{@site_transfer.email} hat die Eigentumsübertragung von {@site_transfer.site.domain} abgelehnt.
<a href={Routes.site_url(PlausibleWeb.Endpoint, :settings_general, @site_transfer.site.domain) <> "?__team=#{@team.identifier}"}>Klicken Sie hier</a>, um die Website-Einstellungen anzuzeigen.
