<%= @invitation.email %> has rejected the ownership transfer of <%= @invitation.site.domain %>.
<a href={Routes.site_url(PlausibleWeb.Endpoint, :settings_general, @invitation.site.domain)}>Click here</a> to view site settings.
