Hey <%= user_salutation(@invitation.inviter) %>,
<br /><br />
<%= @invitation.email %> has rejected the ownership transfer of <%= @invitation.site.domain %>.
<%= link("Click here", to: Routes.site_url(PlausibleWeb.Endpoint, :settings_general, @invitation.site.domain)) %> to view site settings.
<br /><br />
Thanks,<br />
Uku and Marko<br />
--<br />
<%= plausible_url() %><br />
