<a href={@reset_link}>Click here</a>
to reset your Plausible Analytics password.<br /><br />
This link will expire in 1 hour. If you don't use it by then, you can request another password reset link.
<br /><br />
If you didn't request a password reset, you can safely ignore this email.
Your password won't change unless you reset it using the link above.
