<a href={@reset_link}>Klicken Sie hier</a>,
um Ihr Plausible-Passwort zurückzusetzen.<br /><br />
Dieser Link läuft in 1 Stunde ab. Falls Sie ihn bis dahin nicht verwenden, können Sie einen neuen Login-Link anfordern.
