An administrator of <%= @membership.site.domain %> has removed you as a member. You won't be able to see the stats anymore.
<br /><br />
<.unstyled_link href={Routes.site_url(PlausibleWeb.Endpoint, :index)}>Click here</.unstyled_link>
to view your sites.
