An administrator of {@guest_membership.site.domain} has removed you as a member. You won't be able to see the stats anymore.
<br /><br />
<a href={Routes.site_url(PlausibleWeb.Endpoint, :index)}>Click here</a>
to view your sites.
