<p>
  There are currently <%= @current_visitors %> visitors on <a href={"https://" <> @site.domain}><%= @site.domain %></a>.
</p>

<ul :if={not Enum.empty?(@sources)}>
  The top sources for current visitors:
  <%= for %{name: source, count: visitors} <- @sources do %>
    <li><%= source %> - <%= visitors %> visitor<%= if visitors > 1, do: "s" %></li>
  <% end %>
</ul>

<p :if={@link}>View dashboard: <a href={@link}><%= @link %></a></p>

<p>Congrats on the spike in traffic!</p>
