Wir konnten die SSO-Domain '{@domain}', die Sie einzurichten versucht haben, nicht verifizieren. Trotz mehrerer Versuche konnte der Validierungsprozess nicht abgeschlossen werden und wir haben alle automatischen Wiederholungsversuche ausgeschöpft.<br />
Bitte überprüfen Sie Ihre Domain-Konfiguration und folgen Sie unserem Konfigurationsleitfaden, um häufige Probleme zu lösen:
<a href="https://plausible.io/docs/sso" target="_blank">SSO-Dokumentation</a>.
