We are pleased to inform you that your Single Sign-On (SSO) domain '{@domain}' has been successfully verified and is now ready for use.<br />
You can now enable SSO for your organization and allow users to sign in using their corporate credentials.
