Wir freuen uns, Ihnen mitteilen zu können, dass Ihre Single Sign-On (SSO) Domain '{@domain}' erfolgreich verifiziert wurde und nun einsatzbereit ist.<br />
Sie können jetzt SSO für Ihre Organisation aktivieren und Benutzern ermöglichen, sich mit ihren Unternehmensanmeldedaten anzumelden.
