We were unable to verify the SSO domain '{@domain}' you attempted to set up. Despite multiple attempts, the validation process could not be completed and we have exhausted all automatic retries.<br />
Please review your domain configuration and follow our configuration guide to resolve common issues:
<a href="https://plausible.io/docs/sso" target="_blank">SSO Documentation</a>.
