{@team_invitation.email} hat Ihre Einladung zum \"{@team.name}\" Team abgelehnt.
<a href={Routes.settings_url(PlausibleWeb.Endpoint, :team_general) <> "?__team=#{@team.identifier}"}>Klicken Sie hier</a>, um die Team-Einstellungen anzuzeigen.
