<%= @team_invitation.email %> has rejected your invitation to \"<%= @team_invitation.team.name %>\" team.
<a href={Routes.settings_url(PlausibleWeb.Endpoint, :team_general)}>Click here</a> to view team settings.
