{@invitee_email} hat Ihre Einladung zum "{@team.name}" Team angenommen.
<a href={Routes.settings_url(PlausibleWeb.Endpoint, :team_general) <> "?__team=#{@team.identifier}"}>Klicken Sie hier</a>, um die Team-Einstellungen anzuzeigen.
