{@user.email} hat {@site.domain} an das "{@team.name}" Team auf Plausible Analytics übertragen.
<a href={Routes.stats_url(PlausibleWeb.Endpoint, :stats, @site.domain, []) <> "?__team=#{@team.identifier}"}>Klicken Sie hier</a>, um die Statistiken anzuzeigen.
