Ein Administrator des "{@team_membership.team.name}" Teams hat Sie als Mitglied entfernt. <br /><br />
<a href={Routes.site_url(PlausibleWeb.Endpoint, :index) <> "?__team=none"}>Klicken Sie hier</a>,
um Ihre Websites anzuzeigen.
