Ihre kostenlose Plausible-Testversion ist jetzt abgelaufen. Upgraden Sie Ihr Konto, um weiterhin wertvolle Website-Traffic-Einblicke auf einen Blick zu erhalten, während Sie die Privatsphäre Ihrer Besucher respektieren und trotzdem eine schnell ladende Website haben.
<br /><br />

<a href={PlausibleWeb.Router.Helpers.billing_url(PlausibleWeb.Endpoint, :choose_plan) <> "?__team=#{@team.identifier}"}>
  Jetzt upgraden
</a>
<br /><br /> Wir werden noch {@extra_offset} Tage lang Statistiken aufzeichnen, um Ihnen Zeit für das Upgrade zu geben.
