Hey <%= user_salutation(@user) %>,
<br /><br />
Thank you so much for trying out Plausible!
<br /><br />
This is your friendly reminder that you have <b>14 days left</b> on your Plausible free trial.
<br /><br />
I will contact you towards the end of the trial with instructions to upgrade from your free trial to a paid plan.
<br /><br />
If you have any questions or feedback for me, feel free to reply to this email.
<br /><br />
Thanks,<br />
Uku Taht<br />
https://plausible.io
