Hey <%= user_salutation(@user) %>,
<br /><br />
Your free 30-day trial has come to an end. Upgrade to a paid plan now to access to your stats again.<br /><br />

<%= link("Upgrade now", to: "https://plausible.io/upgrade") %>

We will keep recording stats for another month to give you time to upgrade. If you still haven't upgraded by then, we will stop recording.

<br /><br />
Thanks,<br />
Uku Taht<br />
Founder, Plausible Insights
<br /><br />
--
<br /><br />
https://plausible.io
