Welcome to Plausible.<br /><br />
You can go from signup to seeing your first visitor in just a few minutes.<br /><br />
Add your site and start tracking. That's it.<br /><br />
Once installed, your dashboard will start updating in real time. No cookies. No consent banners. No configuration required.<br /><br />
If you need help installing Plausible, see our integration guide:<br />
<a href="https://plausible.io/docs/troubleshoot-integration">https://plausible.io/docs/troubleshoot-integration</a><br /><br />
<a href={plausible_url()}>Open your Plausible dashboard</a><br /><br />
Enjoy exploring Plausible.
