Wir entwickeln Plausible, um einen einfachen und ethischen Ansatz zur Verfolgung von Website-Besuchern zu bieten.
Wir freuen uns sehr, Sie an Bord zu haben! <br /><br />
So holen Sie das Beste aus Ihrer Plausible-Erfahrung heraus: <br /><br /> *
<a href="https://plausible.io/docs/email-reports">E-Mail-Berichte aktivieren</a> und Benachrichtigungen für
<a href="https://plausible.io/docs/traffic-spikes">Traffic-Spitzen</a>
<br /> *
<a href="https://plausible.io/docs/google-search-console-integration">Integration mit Search Console</a>, um Suchbegriffe zu erhalten, mit denen Nutzer Ihre Website finden<br />
* <a href="https://plausible.io/docs/users-roles">Team-Mitglieder und andere Mitarbeiter einladen</a>
<br /> * Einfache Ziele einrichten, einschließlich
<a href="https://plausible.io/docs/error-pages-tracking-404">404-Fehlerseiten</a>,
<a href="https://plausible.io/docs/file-downloads-tracking">Datei-Downloads</a> und
<a href="https://plausible.io/docs/outbound-link-click-tracking">ausgehende Link-Klicks</a>
<br /> * <a href="https://plausible.io/docs/excluding">Ihre eigenen Besuche von der Zählung ausschließen</a>
<br /> * Falls Sie sich wegen Adblockern Sorgen machen,
<a href="https://plausible.io/docs/proxy/introduction">richten Sie einen Proxy ein, um sie zu umgehen</a>
<br />
<br /><br /> Dann sind Sie bereit, Ihr schnell ladendes, ethisches und umsetzbares
<a href="https://plausible.io/sites">Plausible-Dashboard</a> zu erkunden. <br /><br />
Haben Sie eine Frage, Feedback oder benötigen Unterstützung? Antworten Sie gerne auf diese E-Mail.
