Hey <%= user_salutation(@user) %>,
<br /><br />
I'm building Plausible to provide a simple and ethical approach to tracking website visitors.
I'm super excited to have you on board!
<br /><br />
To start collecting stats, you need to <%= link("add a site on Plausible", to: "#{plausible_url()}/sites/new") %>.
<br /><br />
Have a question, feedback or need some guidance? Do reply back to this email.
<br /><br />
Thanks,<br />
Uku Taht
<br /><br />
--
<br /><br />
<%= plausible_url() %>
