Wie die Zeit vergeht! Dies ist eine Erinnerung, dass Ihr Jahresabonnement für {Plausible.product_name()} am {@date} verlängert wird. Wir werden automatisch {PlausibleWeb.BillingView.present_currency(
  @currency
)}{@next_bill_amount} von Ihrer bevorzugten Zahlungsmethode abbuchen. <br /><br />
Es ist keine Aktion erforderlich, wenn Sie weiterhin Plausible nutzen möchten, um Ihre Website-Statistiken auf datenschutzfreundliche Weise zu zählen.
<br /><br /> Falls Sie Ihr Abonnement nicht fortsetzen möchten, können Sie es auf Ihrer
<a href={"#{plausible_url()}/settings?__team=#{@team.identifier}"}>Konto-Einstellungsseite</a> kündigen.
<br /><br />
Übrigens kommen die meisten unserer Abonnenten durch Mundpropaganda zu uns. Falls Sie Plausible lieben und jemanden kennen, der es nützlich finden könnte, würden wir uns freuen, wenn Sie es weiterempfehlen. Vielen Dank!
<br /><br /> Haben Sie eine Frage, Feedback oder benötigen Unterstützung? Antworten Sie gerne auf diese E-Mail.
