Time flies! This is a reminder that your annual subscription for <%= Plausible.product_name() %> is due to renew on <%= @date %>. We will automatically charge <%= PlausibleWeb.BillingView.present_currency(
  @currency
) %><%= @next_bill_amount %> from your preferred billing method. <br /><br />
There's no action required if you're happy to continue using Plausible to count your website stats in a privacy-friendly way.
<br /><br /> If you don't want to continue your subscription, you can cancel it on your
<.unstyled_link href={"#{plausible_url()}/settings"}>account settings page</.unstyled_link>.
<br /><br />
BTW, most of our subscribers come from word of mouth, so if you love Plausible, and know someone else who might find it useful, we'd appreciate if you'd let them know. Thank you!
<br /><br /> Have a question, feedback or need some guidance? Do reply back to this email.
